In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

options = webdriver.ChromeOptions()
driver = webdriver.Chrome(options=options)

url = "https://results.tcslondonmarathon.com/2024/?page=1&event=MAS&num_results=1000&pid=search&search%5Bsex%5D=%25&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"
driver.get(url)
time.sleep(4)

resultados = []

# Solo primeros 10 atletas
atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")[:10]

for atleta in atletas:
    try:
        place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary").text
    except:
        place_overall = "Sin posición general"

    try:
        place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary").text
    except:
        place_gender = "Sin posición género"

    try:
        name_pais = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-fullname a").text
        nombre = re.sub(r"\s*\([A-Z]{3}\)", "", name_pais).strip()
        pais_match = re.search(r"\(([A-Z]{3})\)", name_pais)
        pais = pais_match.group(1) if pais_match else "Sin país"
    except:
        nombre = "Sin nombre"
        pais = "Sin país"

    try:
        categoria = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-age_class").text.replace("Category", "").strip()
    except:
        categoria = "Sin categoría"

    # Evento Mass (asignado directamente)
    event = "Mass"

    # ✅ FINISH con innerHTML + regex (FUNCIONA CON TU HTML)
    try:
        finish_block = atleta.find_element(By.XPATH, ".//div[contains(@class, 'type-time') and .//div[text()='Finish']]")
        html = finish_block.get_attribute("innerHTML")
        match = re.search(r'</div>\s*([0-9:]+)', html)
        finish = match.group(1).strip() if match else "Sin tiempo"
    except:
        finish = "Sin tiempo"

    resultados.append({
        "place_overall": place_overall,
        "place_gender": place_gender,
        "nombre": nombre,
        "pais": pais,
        "category": categoria,
        "event": event,
        "finish": finish
    })

driver.quit()

df = pd.DataFrame(resultados)

✅ ¡Scrapeo de los primeros 10 atletas (Mass) completado con tiempo OK!

In [6]:
df

,place_overall,place_gender,nombre,pais,category,event,finish
0,Place (Overall),Place (Gender),Sin nombre,Sin país,,Mass,Sin tiempo
1,1,1,"Kalideni, Malixole",RSA,18-39,Mass,02:14:27
2,2,2,"James, George",GBR,18-39,Mass,02:14:59
3,3,3,"Dahlke, Jonathan",GER,18-39,Mass,02:15:42
4,4,4,"Maunsell, William",IRL,18-39,Mass,02:16:34
5,5,5,"Hogan, Sean",GBR,18-39,Mass,02:17:02
6,6,6,"Nipperess, James",AUS,18-39,Mass,02:17:17
7,7,7,"Malusi, Yanga",RSA,18-39,Mass,02:17:34
8,8,8,"Fukuda, Yudai",JPN,18-39,Mass,02:18:41
9,9,9,"Torry, Nicholas",GBR,45-49,Mass,02:18:46

In [8]:
df.to_csv("../data/ejemplo_10_resultados_londonmarathon_2024.csv", index=False)

In [9]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

options = webdriver.ChromeOptions()
driver = webdriver.Chrome(options=options)

url = "https://results.tcslondonmarathon.com/2024/?event=ELIT&num_results=1000&pid=search&search%5Bsex%5D=%25&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"
driver.get(url)
time.sleep(4)

resultados = []

# No hay paginación (todos están en una sola página)
atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")

for atleta in atletas:
    try:
        place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary").text
    except:
        place_overall = "Sin posición general"

    try:
        place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary").text
    except:
        place_gender = "Sin posición género"

    try:
        name_pais = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-fullname a").text
        nombre = re.sub(r"\s*\([A-Z]{3}\)", "", name_pais).strip()
        pais_match = re.search(r"\(([A-Z]{3})\)", name_pais)
        pais = pais_match.group(1) if pais_match else "Sin país"
    except:
        nombre = "Sin nombre"
        pais = "Sin país"

    try:
        categoria = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-age_class").text.replace("Category", "").strip()
    except:
        categoria = "Sin categoría"

    event = "Elite"

    try:
        finish_block = atleta.find_element(By.XPATH, ".//div[contains(@class, 'type-time') and .//div[text()='Finish']]")
        html = finish_block.get_attribute("innerHTML")
        match = re.search(r'</div>\s*([0-9:]+)', html)
        finish = match.group(1).strip() if match else "Sin tiempo"
    except:
        finish = "Sin tiempo"

    resultados.append({
        "place_overall": place_overall,
        "place_gender": place_gender,
        "nombre": nombre,
        "pais": pais,
        "category": categoria,
        "event": event,
        "finish": finish
    })

driver.quit()

df_elite = pd.DataFrame(resultados)

In [10]:
df_elite

,place_overall,place_gender,nombre,pais,category,event,finish
0,Place (Overall),Place (Gender),Sin nombre,Sin país,,Elite,Sin tiempo
1,1,1,"MUNYAO, Alexander Mutiso",KEN,–,Elite,02:04:01
2,2,2,"BEKELE, Kenenisa",ETH,–,Elite,02:04:15
3,3,3,"CAIRESS, Emile",GBR,–,Elite,02:06:46
4,4,4,"MAHAMED, Mahamed",GBR,–,Elite,02:07:05
5,5,5,"CHAHDI, Hassan",FRA,–,Elite,02:07:30
6,6,6,"TESFAY, Henok",ERI,–,Elite,02:09:22
7,7,7,"PFEIFFER, Hendrik",GER,–,Elite,02:10:00
8,8,8,"ATANAW, Kinde",ETH,–,Elite,02:10:03
9,9,9,"MOTSCHMANN, Johannes",GER,–,Elite,02:10:39
10,10,10,"SHRADER, Brian",USA,–,Elite,02:10:50
11,11,11,"SCOTT, Marc",GBR,–,Elite,02:11:19
12,12,12,"LEPRETRE, Alexander",GBR,–,Elite,02:15:34
13,13,13,"SCULLION, Stephen",IRL,–,Elite,02:16:04
14,14,1,"JEPCHIRCHIR, Peres",KEN,18-39,Elite,02:16:16
15,15,2,"ASSEFA, Tigst",ETH,18-39,Elite,02:16:23
16,16,3,"JEPKOSGEI, Joyciline",KEN,18-39,Elite,02:16:24
17,17,14,"HOAD, James",GBR,–,Elite,02:16:29
18,18,4,"ALEMU, Megertu",ETH,18-39,Elite,02:16:34
19,19,15,"BARRIOS, Juan Luis",MEX,–,Elite,02:16:37
20,20,16,"HAWKINS, Callum",GBR,–,Elite,02:17:34
21,21,17,"HAMILTON, Daniel",GBR,–,Elite,02:17:35
22,22,18,"LAWRENCE, Alexander",GBR,–,Elite,02:17:41
23,23,19,"WALKER, Kieran",GBR,–,Elite,02:18:32
24,24,5,"KOSGEI, Brigid",KEN,18-39,Elite,02:19:02
25,25,20,"JONES, Dominic",GBR,–,Elite,02:19:10
26,26,6,"CHEPKIRUI, Sheila",KEN,18-39,Elite,02:19:31
27,27,21,"BOWDEN, Adam",GBR,–,Elite,02:19:34
28,28,22,"SANDISON, Charlie",GBR,–,Elite,02:20:11
29,29,23,"THOMSON, Ryan",GBR,–,Elite,02:21:24
30,30,24,"MYCROFT, William",GBR,–,Elite,02:21:48
31,31,25,"HOARE, Martin",IRL,–,Elite,02:22:59
32,32,7,"KETEMA, Tigist",ETH,18-39,Elite,02:23:21
33,33,8,"YEHUALAW, Yalemzerf",ETH,18-39,Elite,02:23:26
34,34,26,"CLEMENTS, Kieran",GBR,–,Elite,02:23:44
35,35,27,"SHREEVE, Norman",GBR,–,Elite,02:24:29
36,36,9,"CHEPNGETICH, Ruth",KEN,18-39,Elite,02:24:36
37,37,10,"HAILESLASE, Tsige",ETH,18-39,Elite,02:25:03
38,38,28,"BISHOP, David",GBR,–,Elite,02:25:54
39,39,11,"MACLENNAN, Mhairi",GBR,18-39,Elite,02:29:15
40,40,12,"BRIGGS, Becky",GBR,18-39,Elite,02:35:25
41,41,29,"TURA, Seifu",ETH,–,Elite,02:36:20
42,42,13,"HODGKINSON, Rachel",GBR,18-39,Elite,02:36:49
43,43,14,"GAUNT, Helen",GBR,40-44,Elite,02:38:40
44,44,15,"WRIGHT, Alice",GBR,18-39,Elite,02:40:51
45,45,16,"CULLING, Anya",GBR,18-39,Elite,02:44:00

In [11]:
#Concatenamos los dos DataFrames
df_londres = pd.concat([df, df_elite], ignore_index=True)
df_londres

,place_overall,place_gender,nombre,pais,category,event,finish
0,Place (Overall),Place (Gender),Sin nombre,Sin país,,Mass,Sin tiempo
1,1,1,"Kalideni, Malixole",RSA,18-39,Mass,02:14:27
2,2,2,"James, George",GBR,18-39,Mass,02:14:59
3,3,3,"Dahlke, Jonathan",GER,18-39,Mass,02:15:42
4,4,4,"Maunsell, William",IRL,18-39,Mass,02:16:34
5,5,5,"Hogan, Sean",GBR,18-39,Mass,02:17:02
6,6,6,"Nipperess, James",AUS,18-39,Mass,02:17:17
7,7,7,"Malusi, Yanga",RSA,18-39,Mass,02:17:34
8,8,8,"Fukuda, Yudai",JPN,18-39,Mass,02:18:41
9,9,9,"Torry, Nicholas",GBR,45-49,Mass,02:18:46
10,Place (Overall),Place (Gender),Sin nombre,Sin país,,Elite,Sin tiempo
11,1,1,"MUNYAO, Alexander Mutiso",KEN,–,Elite,02:04:01
12,2,2,"BEKELE, Kenenisa",ETH,–,Elite,02:04:15
13,3,3,"CAIRESS, Emile",GBR,–,Elite,02:06:46
14,4,4,"MAHAMED, Mahamed",GBR,–,Elite,02:07:05
15,5,5,"CHAHDI, Hassan",FRA,–,Elite,02:07:30
16,6,6,"TESFAY, Henok",ERI,–,Elite,02:09:22
17,7,7,"PFEIFFER, Hendrik",GER,–,Elite,02:10:00
18,8,8,"ATANAW, Kinde",ETH,–,Elite,02:10:03
19,9,9,"MOTSCHMANN, Johannes",GER,–,Elite,02:10:39
20,10,10,"SHRADER, Brian",USA,–,Elite,02:10:50
21,11,11,"SCOTT, Marc",GBR,–,Elite,02:11:19
22,12,12,"LEPRETRE, Alexander",GBR,–,Elite,02:15:34
23,13,13,"SCULLION, Stephen",IRL,–,Elite,02:16:04
24,14,1,"JEPCHIRCHIR, Peres",KEN,18-39,Elite,02:16:16
25,15,2,"ASSEFA, Tigst",ETH,18-39,Elite,02:16:23
26,16,3,"JEPKOSGEI, Joyciline",KEN,18-39,Elite,02:16:24
27,17,14,"HOAD, James",GBR,–,Elite,02:16:29
28,18,4,"ALEMU, Megertu",ETH,18-39,Elite,02:16:34
29,19,15,"BARRIOS, Juan Luis",MEX,–,Elite,02:16:37
30,20,16,"HAWKINS, Callum",GBR,–,Elite,02:17:34
31,21,17,"HAMILTON, Daniel",GBR,–,Elite,02:17:35
32,22,18,"LAWRENCE, Alexander",GBR,–,Elite,02:17:41
33,23,19,"WALKER, Kieran",GBR,–,Elite,02:18:32
34,24,5,"KOSGEI, Brigid",KEN,18-39,Elite,02:19:02
35,25,20,"JONES, Dominic",GBR,–,Elite,02:19:10
36,26,6,"CHEPKIRUI, Sheila",KEN,18-39,Elite,02:19:31
37,27,21,"BOWDEN, Adam",GBR,–,Elite,02:19:34
38,28,22,"SANDISON, Charlie",GBR,–,Elite,02:20:11
39,29,23,"THOMSON, Ryan",GBR,–,Elite,02:21:24
40,30,24,"MYCROFT, William",GBR,–,Elite,02:21:48
41,31,25,"HOARE, Martin",IRL,–,Elite,02:22:59
42,32,7,"KETEMA, Tigist",ETH,18-39,Elite,02:23:21
43,33,8,"YEHUALAW, Yalemzerf",ETH,18-39,Elite,02:23:26
44,34,26,"CLEMENTS, Kieran",GBR,–,Elite,02:23:44
45,35,27,"SHREEVE, Norman",GBR,–,Elite,02:24:29
46,36,9,"CHEPNGETICH, Ruth",KEN,18-39,Elite,02:24:36
47,37,10,"HAILESLASE, Tsige",ETH,18-39,Elite,02:25:03
48,38,28,"BISHOP, David",GBR,–,Elite,02:25:54
49,39,11,"MACLENNAN, Mhairi",GBR,18-39,Elite,02:29:15
50,40,12,"BRIGGS, Becky",GBR,18-39,Elite,02:35:25
51,41,29,"TURA, Seifu",ETH,–,Elite,02:36:20
52,42,13,"HODGKINSON, Rachel",GBR,18-39,Elite,02:36:49
53,43,14,"GAUNT, Helen",GBR,40-44,Elite,02:38:40
54,44,15,"WRIGHT, Alice",GBR,18-39,Elite,02:40:51
55,45,16,"CULLING, Anya",GBR,18-39,Elite,02:44:00

In [12]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

def scrape_london_test(gender, event_name, url):
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(options=options)

    print(f"\n🔍 Scrapeando 10 atletas – {event_name} – Género: {gender}")
    driver.get(url)
    time.sleep(4)

    resultados = []
    atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")[:10]

    for atleta in atletas:
        try:
            place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary").text
        except:
            place_overall = "Sin posición general"

        try:
            place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary").text
        except:
            place_gender = "Sin posición género"

        try:
            name_pais = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-fullname a").text
            nombre = re.sub(r"\s*\([A-Z]{3}\)", "", name_pais).strip()
            pais_match = re.search(r"\(([A-Z]{3})\)", name_pais)
            pais = pais_match.group(1) if pais_match else "Sin país"
        except:
            nombre = "Sin nombre"
            pais = "Sin país"

        try:
            categoria = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-age_class").text.replace("Category", "").strip()
        except:
            categoria = "Sin categoría"

        try:
            finish_block = atleta.find_element(By.XPATH, ".//div[contains(@class, 'type-time') and .//div[text()='Finish']]")
            html = finish_block.get_attribute("innerHTML")
            match = re.search(r'</div>\s*([0-9:]+)', html)
            finish = match.group(1).strip() if match else "Sin tiempo"
        except:
            finish = "Sin tiempo"

        resultados.append({
            "place_overall": place_overall,
            "place_gender": place_gender,
            "nombre": nombre,
            "pais": pais,
            "category": categoria,
            "event": event_name,
            "finish": finish,
            "gender": gender
        })

    driver.quit()
    return pd.DataFrame(resultados)

# URLs por categoría y género
urls = {
    "Elite_M": ("Elite", "M", "https://results.tcslondonmarathon.com/2024/?event=ELIT&num_results=1000&pid=search&search%5Bsex%5D=M&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"),
    "Elite_W": ("Elite", "W", "https://results.tcslondonmarathon.com/2024/?event=ELIT&num_results=1000&pid=search&search%5Bsex%5D=W&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"),
    "Mass_M": ("Mass", "M", "https://results.tcslondonmarathon.com/2024/?event=MAS&num_results=1000&pid=search&search%5Bsex%5D=M&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"),
    "Mass_W": ("Mass", "W", "https://results.tcslondonmarathon.com/2024/?event=MAS&num_results=1000&pid=search&search%5Bsex%5D=W&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex")
}

# Ejecutar todos los casos
dfs = []
for key, (event, gender, url) in urls.items():
    df = scrape_london_test(gender, event, url)
    dfs.append(df)

# Concatenar todo
df_londres = pd.concat(dfs, ignore_index=True)


print("\n✅ Prueba completada para Londres. Archivo: 'prueba_london_2024_10_por_categoria_genero.csv'")

🔍 Scrapeando 10 atletas – Elite – Género: M

🔍 Scrapeando 10 atletas – Elite – Género: W

🔍 Scrapeando 10 atletas – Mass – Género: M

🔍 Scrapeando 10 atletas – Mass – Género: W

✅ Prueba completada para Londres. Archivo: 'prueba_london_2024_10_por_categoria_genero.csv'

In [13]:
df_londres

,place_overall,place_gender,nombre,pais,category,event,finish,gender
0,Place (Overall),Place (Gender),Sin nombre,Sin país,,Elite,Sin tiempo,M
1,1,1,"MUNYAO, Alexander Mutiso",KEN,–,Elite,02:04:01,M
2,2,2,"BEKELE, Kenenisa",ETH,–,Elite,02:04:15,M
3,3,3,"CAIRESS, Emile",GBR,–,Elite,02:06:46,M
4,4,4,"MAHAMED, Mahamed",GBR,–,Elite,02:07:05,M
5,5,5,"CHAHDI, Hassan",FRA,–,Elite,02:07:30,M
6,6,6,"TESFAY, Henok",ERI,–,Elite,02:09:22,M
7,7,7,"PFEIFFER, Hendrik",GER,–,Elite,02:10:00,M
8,8,8,"ATANAW, Kinde",ETH,–,Elite,02:10:03,M
9,9,9,"MOTSCHMANN, Johannes",GER,–,Elite,02:10:39,M
10,Place (Overall),Place (Gender),Sin nombre,Sin país,,Elite,Sin tiempo,W
11,14,1,"JEPCHIRCHIR, Peres",KEN,18-39,Elite,02:16:16,W
12,15,2,"ASSEFA, Tigst",ETH,18-39,Elite,02:16:23,W
13,16,3,"JEPKOSGEI, Joyciline",KEN,18-39,Elite,02:16:24,W
14,18,4,"ALEMU, Megertu",ETH,18-39,Elite,02:16:34,W
15,24,5,"KOSGEI, Brigid",KEN,18-39,Elite,02:19:02,W
16,26,6,"CHEPKIRUI, Sheila",KEN,18-39,Elite,02:19:31,W
17,32,7,"KETEMA, Tigist",ETH,18-39,Elite,02:23:21,W
18,33,8,"YEHUALAW, Yalemzerf",ETH,18-39,Elite,02:23:26,W
19,36,9,"CHEPNGETICH, Ruth",KEN,18-39,Elite,02:24:36,W
20,Place (Overall),Place (Gender),Sin nombre,Sin país,,Mass,Sin tiempo,M
21,1,1,"Kalideni, Malixole",RSA,18-39,Mass,02:14:27,M
22,2,2,"James, George",GBR,18-39,Mass,02:14:59,M
23,3,3,"Dahlke, Jonathan",GER,18-39,Mass,02:15:42,M
24,4,4,"Maunsell, William",IRL,18-39,Mass,02:16:34,M
25,5,5,"Hogan, Sean",GBR,18-39,Mass,02:17:02,M
26,6,6,"Nipperess, James",AUS,18-39,Mass,02:17:17,M
27,7,7,"Malusi, Yanga",RSA,18-39,Mass,02:17:34,M
28,8,8,"Fukuda, Yudai",JPN,18-39,Mass,02:18:41,M
29,9,9,"Torry, Nicholas",GBR,45-49,Mass,02:18:46,M
30,Place (Overall),Place (Gender),Sin nombre,Sin país,,Mass,Sin tiempo,W
31,325,1,"Fink, Anja",SLO,18-39,Mass,02:33:53,W
32,475,2,"Smith, Molly",GBR,18-39,Mass,02:36:22,W
33,478,3,"Eykelbosch, Alex",GBR,18-39,Mass,02:36:26,W
34,544,4,"Hopkins, Verity",GBR,18-39,Mass,02:37:17,W
35,594,5,"Reed, Lauren",GBR,40-44,Mass,02:38:02,W
36,655,6,"MURRAY, Rebecca",GBR,18-39,Mass,02:38:52,W
37,770,7,"Olding, Katie",GBR,18-39,Mass,02:40:08,W
38,840,8,"Marchant, Emily",GBR,18-39,Mass,02:41:07,W
39,849,9,"Bunting, Rebecca",GBR,40-44,Mass,02:41:14,W

In [14]:
df_londres.to_csv("../data/ejemplo_10_resultados_londonmarathon_2024.csv", index=False)

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re
from tqdm import tqdm

def scrape_london_all(gender, event_name, url_base, total_pages, archivo_salida):
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(options=options)
    resultados = []

    for pagina in tqdm(range(1, total_pages + 1), desc=f"Londres {event_name} {gender}", ncols=100):
        url = f"{url_base}&page={pagina}" if "page=" not in url_base else url_base.replace("page=1", f"page={pagina}")
        driver.get(url)
        time.sleep(4)

        atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")

        for atleta in atletas:
            try:
                place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary").text
            except:
                place_overall = "Sin posición general"

            try:
                place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary").text
            except:
                place_gender = "Sin posición género"

            try:
                name_pais = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-fullname a").text
                nombre = re.sub(r"\s*\([A-Z]{3}\)", "", name_pais).strip()
                pais_match = re.search(r"\(([A-Z]{3})\)", name_pais)
                pais = pais_match.group(1) if pais_match else "Sin país"
            except:
                nombre = "Sin nombre"
                pais = "Sin país"

            try:
                categoria = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-age_class").text.replace("Category", "").strip()
            except:
                categoria = "Sin categoría"

            try:
                finish_block = atleta.find_element(By.XPATH, ".//div[contains(@class, 'type-time') and .//div[text()='Finish']]")
                html = finish_block.get_attribute("innerHTML")
                match = re.search(r'</div>\s*([0-9:]+)', html)
                finish = match.group(1).strip() if match else "Sin tiempo"
            except:
                finish = "Sin tiempo"

            resultados.append({
                "page": pagina,
                "place_overall": place_overall,
                "place_gender": place_gender,
                "nombre": nombre,
                "pais": pais,
                "category": categoria,
                "event": event_name,
                "finish": finish,
                "gender": gender
            })

        time.sleep(2)

    driver.quit()
    df = pd.DataFrame(resultados)
    df.to_csv(archivo_salida, index=False)
    print(f"\n✅ Guardado parcial en: {archivo_salida}")
    return df

# --- Configuración por grupo ---
jobs = {
    "Elite_M": ("Elite", "M", "https://results.tcslondonmarathon.com/2024/?event=ELIT&num_results=1000&pid=search&search%5Bsex%5D=M&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex", 1, "london_elite_m.csv"),
    "Elite_W": ("Elite", "W", "https://results.tcslondonmarathon.com/2024/?event=ELIT&num_results=1000&pid=search&search%5Bsex%5D=W&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex", 1, "london_elite_w.csv"),
    "Mass_M": ("Mass", "M", "https://results.tcslondonmarathon.com/2024/?page=1&event=MAS&num_results=1000&pid=search&search%5Bsex%5D=M&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex", 31, "london_mass_m.csv"),
    "Mass_W": ("Mass", "W", "https://results.tcslondonmarathon.com/2024/?page=1&event=MAS&num_results=1000&pid=search&search%5Bsex%5D=W&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex", 23, "london_mass_w.csv")
}

# Ejecutar y combinar
dfs = []
for key, (event, gender, url, total_pages, output_file) in jobs.items():
    df = scrape_london_all(gender, event, url, total_pages, output_file)
    dfs.append(df)

# Concatenar y exportar
df_londres = pd.concat(dfs, ignore_index=True)
df_londres.to_csv("../data/resultados_london_2024_completo.csv", index=False)
print("\n✅ LONDRES 2024 completado. Guardado en: 'london_2024_completo.csv'")

Londres Elite M: 100%|████████████████████████████████████████████████| 1/1 [00:07<00:00,  7.35s/it]

✅ Guardado parcial en: london_elite_m.csv

Londres Elite W: 100%|████████████████████████████████████████████████| 1/1 [00:08<00:00,  8.87s/it]

✅ Guardado parcial en: london_elite_w.csv

Londres Mass M: 100%|███████████████████████████████████████████████| 31/31 [19:13<00:00, 37.22s/it]

✅ Guardado parcial en: london_mass_m.csv

Londres Mass W: 100%|███████████████████████████████████████████████| 23/23 [13:50<00:00, 36.11s/it]

✅ Guardado parcial en: london_mass_w.csv

✅ LONDRES 2024 completado. Guardado en: 'london_2024_completo.csv'

In [4]:
df_londres

,page,place_overall,place_gender,nombre,pais,category,event,finish,gender
0,1,,Place (Gender),Sin nombre,Sin país,,Elite,Sin tiempo,M
1,1,,1,"MUNYAO, Alexander Mutiso",KEN,–,Elite,02:04:01,M
2,1,,2,"BEKELE, Kenenisa",ETH,–,Elite,02:04:15,M
3,1,,3,"CAIRESS, Emile",GBR,–,Elite,02:06:46,M
4,1,,4,"MAHAMED, Mahamed",GBR,–,Elite,02:07:05,M
...,...,...,...,...,...,...,...,...,...
53929,23,53872,22830,"Waite, Helen",GBR,45-49,Mass,11:06:02,W
53930,23,53873,22831,"Hay, Elise",GBR,45-49,Mass,11:07:16,W
53931,23,53875,22832,"Harland-Stockdale, Stephanie",GBR,50-54,Mass,11:30:39,W
53932,23,53876,22833,"Hall, Kate",GBR,18-39,Mass,11:39:12,W
53933,23,53878,22834,"Holden, Deborah",GBR,55-59,Mass,13:05:23,W

In [5]:
df_londres.to_csv("../data/resultados_london_2024_completo.csv", index=False)